@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+Antique&display=swap");
@import "tailwindcss";

html {
	font-family:
		"Montserrat",
		"Zen Kaku Gothic Antique" sans-serif;
	font-optical-sizing: auto;
}

.ProseMirror:focus {
	outline: none;
}

.ProseMirror {
	min-height: 24rem;
}
